<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">


    <title>{% block title %}Biki | Portfolio{% endblock %}</title>
    <style>

        body {
            background-color: #ffffff; /* Light mode */
            color: #000000;
          }
          
          body.dark {
            background-color: #18181B; /* Dark mode */
            color: #fff;
            {% comment %} color: #94A3B8; {% endcomment %}
          }
          
    </style>
</head>
<body>
    {% block navbar %} {% include "portfolio/navbar.html" %}{% endblock %}
    {% block herosection %} {% include "portfolio/heroSection.html" %}{% endblock %}
    {% block footer %} {% include "portfolio/footer.html" %}{% endblock %}
</body>
</html>